<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'topo/img/favicon.ico' %}" />
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <!-- <link rel="shortcut icon" href="{%  static 'favicon.ico' %}"> -->
    <!-- <link rel='stylesheet' href="{% static 'topo/style.css' %}"> -->
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <td>
                <svg width="100%" height="100%"></svg>
            </td>
            <td>
                <div class="infobox" id="infobox">
                    CLICK ON DEVICE FOR NEIGHBOR/INTERFACE INFORMATION
                    <br>
                </div>
                <div class="infobox2" id="infobox2">
                </div>
            </td>
        </tr>
    </table>

</body>
<script>
    function OnClickDetails(device) {
        $(document).ready(function () {
            let token = '{{csrf_token}}';
            console.log('device', device);
            $('#infobox').text('THIẾT BỊ: ' + device);
            $.ajax({
                headers: { "X-CSRFToken": token },
                url: '/ajax_neighbor/',
                type: 'GET',
                dataType: 'json',
                data: {
                    'device': device,
                },
                success: function (data) {
                    console.log(data)
                    // $('#infobox2').tableFromNeighbor(data);
                    // text = tableFromNeighbor(data);
                    var text = '';
                    $('#infobox2').append($('<table>'))
                        .append($("<thead><th><u><h4>LOCAL INT.</h4></u></th><th><u><h4>NEIGHBOR</h4></u></th><th><u><h4>NEIGHBOR'S INT</h4 ></u ></th >"))
                    for (var neighbor in data['data1']) {
                        console.log('neighbor---', neighbor);
                        console.log('data[key]---', data['data1']);
                        console.log('local_inf: ', data['data1'][neighbor]['local_intf'])
                        text += '<tr><td>' + data['data1'][neighbor]['local_intf']
                            + '</td><td>' + data['data1'][neighbor]['neighbor'] + '</td><td>'
                            + data['data1'][neighbor]['neighbor_intf'] + '</td></tr>';
                    }
                    $('#infobox2').append(text);
                    $('td,th').css('border-bottom', '1px solid #ddd');
                    $('td,th').css('padding', '5px');
                }

            });
            $('#infobox2').text('')
            // location.reload();
            // });
        });
    }

    var svg = d3.select("svg"),
        //width = +svg.attr("width"),
        // height = +svg.attr("height");
        width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth,
        height = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;

    d3.select("svg").attr("height", height)
    d3.select("svg").attr("width", width * 0.7)

    var color = d3.scaleOrdinal(d3.schemeCategory20);

    var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function (d) { return d.id; }).distance(100).strength(0.001))
        .force("charge", d3.forceManyBody().strength(-200).distanceMax(500).distanceMin(50))
        .force("x", d3.forceX(function (d) {
            if (d.group === "1") {
                return 5 * (width * 0.7) / 6
            } else if (d.group === "2") {
                return 4 * (width * 0.7) / 6
            } else if (d.group === "3") {
                return 3 * (width * 0.7) / 6
            } else {
                return 0 * (width * 0.7) / 6
            }
        }).strength(1))
        .force("y", d3.forceY(height / 2))
        .force("center", d3.forceCenter((width * 0.7) / 2, height / 2))
        .force("collision", d3.forceCollide().radius(35));

    // ######################################
    // # Read graph.json and draw SVG graph #
    // ######################################

    d3.json("{% url 'api_topo' %}", function (error, graph) {
        if (error) throw error;

        var link = svg.append("g")
            .selectAll("line")
            .data(graph.links)
            .enter().append("line")
            .attr("stroke", function (d) {
                // return (d.type > 50) ? 'red' : 'green';
                if (d.type < 30) {
                    return "green";
                } else if (d.type >= 30 && d.type < 80) {
                    return "orange";
                }
                else { return "red"; }
            })
            .attr("stroke-width", '3');

        // var link = svg.append("g").selectAll("line.link")
        //     .data(force.links())
        //     .enter().append("line")
        //     .attr("class", "link")
        //     .attr("marker-end", "url(#arrow)");


        var node = svg.append("g")
            .attr("class", "nodes")
            .selectAll("a")
            .data(graph.nodes)
            .enter().append("a")
            .attr("target", '_blank')
            .attr("xlink:href", function (d) { return (window.location.href + '?device=' + d.id) });

        node.on("click", function (d, i) {
            d3.event.preventDefault();
            d3.event.stopPropagation();
            OnClickDetails(d.id);
        }
        );

        node.call(d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended));

        node.append("image")
            .attr("xlink:href", function (d) { return ("/static/topo/img/group" + d.group + ".png"); })
            .attr("width", 32)
            .attr("height", 32)
            .attr("x", - 20)
            .attr("y", - 20)
            .attr("fill", function (d) {
                return color(d.group);
            });

        node.append("text")
            .attr("font-size", "0.8em")
            .attr("dx", 12)
            .attr("dy", ".35em")
            .attr("x", +8)
            .text(function (d) { return d.id });

        node.append("title")
            .text(function (d) { return d.id; });

        node
            .on('mouseover', function (d) {
                // Highlight the nodes: every node is green except of him  'mouseover'
                node.style('fill', "#B8B8B8")
                d3.select(this).style('fill', '#69b3b2')
                // Highlight the connections
                link
                    .style('stroke', function (link_d) {
                        if (link_d.source.id === d.id || link_d.target.id === d.id) {
                            if (link_d.type < 30) {
                                return "green";
                            } else if (link_d.type >= 30 && link_d.type < 80) {
                                return "orange";
                            }
                            else { return "red"; }
                        }
                    })
                    .style('stroke-width', function (link_d) { return link_d.source.id === d.id || link_d.target.id === d.id ? 6 : 3; })
            })
            .on('mouseout', function (d) {
                node.style('fill', "#69b3a2")
                link
                    // .style('stroke', '#d4d4aa')
                    .style('stroke-width', '3')

            })

        simulation
            .nodes(graph.nodes)
            .on("tick", ticked);

        simulation.force("link")
            .links(graph.links);

        function ticked() {
            link
                .attr("x1", function (d) { return d.source.x; })
                .attr("y1", function (d) { return d.source.y; })
                .attr("x2", function (d) { return d.target.x; })
                .attr("y2", function (d) { return d.target.y; });

            node
                .attr("transform", function (d) { return "translate(" + d.x + "," + d.y + ")" });
        }
    });

    // cu 50s tu dong reload
    // setInterval(function () {
    //     // read_api();
    //     location.reload(1);
    // }, 50000);


    // xet change color< chua ok >
    function linkColour(d) {
        if (d.type == '10') {
            return "green";
        } else {
            return "red";
        }
    }

    function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
    }

    function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
    }

    function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
    }

</script>

</html>